# any media(images, video)
*.avi
*.mov
*.mp4
*.JPG
*.jpg
*.png
*.gif

# data files (for now)
/data*/

# pip
get-pip.py

# Cifar10 NN tutorial
/models/

# virtual environment directory (requirements are in requirements.txt)
/venv/

# Any saved weight files
*.h5
